#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

129 DIALOG 0, 0, 187, 118
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Hachimi Installer"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
    CONTROL "Install", 1000, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 85, 50, 14
    CONTROL "Uninstall", 1001, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 85, 50, 14
    CONTROL "Packaged version: N/A", 1002, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 93, 8
    CONTROL "", 1003, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 32, 122, 14
    CONTROL "Install location", 1009, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 20, 93, 8
    CONTROL "Browse...", 1004, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 133, 32, 47, 14
    CONTROL "Target", 1010, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 52, 141, 8
    CONTROL "", 1005, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 64, 173, 40
    CONTROL "Installed: None", 1006, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 88, 65, 8
    CONTROL "Language", 1007, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 106, 40, 8
    CONTROL "", 1008, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 66, 104, 80, 100
}

107 ICON "hachimi.ico"

1 VERSIONINFO
FILEVERSION VERSION_INFO_VER
PRODUCTVERSION VERSION_INFO_VER
FILEOS 0x40004
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004b0"
        {
            VALUE "ProductName", "Hachimi Installer"
            VALUE "FileVersion", VERSION_INFO_STR
            VALUE "FileDescription", "Hachimi Installer"
            VALUE "ProductVersion", VERSION_INFO_STR
        }
    }

    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0000 0x04B0  
    }
}

1 RT_MANIFEST "installer.manifest"