name: Create Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-windows:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Fetch latest release version
        id: remote-release
        run: |
          $release = irm -uri "https://api.github.com/repos/kairusds/Hachimi-Edge/releases/latest" -method GET
          echo "REMOTE_RELEASE=$($release.tag_name)" >> $Env:GITHUB_OUTPUT
          echo "DLL_URL=$($release.assets | where name -eq "hachimi.dll" | select browser_download_url | %{$_.browser_download_url})" >> $Env:GITHUB_OUTPUT

      - name: Fetch local release version
        id: local-release
        run: echo "LOCAL_RELEASE=$(git describe --tags --abbrev=0)" >> $Env:GITHUB_OUTPUT

      - name: Checkout latest extension release
        id: checkout-new
        # if: ${{ steps.local-release.outputs.LOCAL_RELEASE != steps.remote-release.outputs.REMOTE_RELEASE }}
        run: iwr -usebasicparsing -outfile hachimi.dll -uri ${{ steps.local-release.outputs.DLL_URL }}

      - name: Checkout Lead's FunnyHoney
        run: iwr -usebasicparsing -outfile FunnyHoney.exe -uri ${{ secrets.FUNNYHONEY_URL }}

      - name: Build Installer
        run: |
          cargo build --target x86_64-pc-windows-msvc --target-dir build --release --features compress_dll
          cd ..
          move build\x86_64-pc-windows-msvc\release\hachimi_installer.exe build

      - name: Upload Windows binaries
        uses: actions/upload-artifact@v4
        with:
          name: windows
          path: |
            build/hachimi_installer.exe

  create-release:
    needs: [build-windows]
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - name: Get latest release info from Hachimi-Edge
        id: get_info
        run: |
          release_info=$(curl -sL "https://api.github.com/repos/kairu-sds/Hachimi-Edge/releases/latest" | jq -r '{tag: .tag_name, url: .html_url}')
          echo "latest_tag=$(echo $release_info | jq -r .tag)" >> $GITHUB_OUTPUT
          echo "release_url=$(echo $release_info | jq -r .url)" >> $GITHUB_OUTPUT

      - name: Download all build artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts

      - name: Upload binaries to a release
        uses: softprops/action-gh-release@v2
        with:
          body: |
            ${{ steps.get_info.outputs.release_url }}
          files: |
            artifacts/windows/*
          tag_name: ${{ steps.get_info.outputs.latest_tag }}